/*GLOBAL STYLES*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.t6-wrapper {
  margin: 40px auto;
  background: #fff;
  padding: 40px 50px;
  color: #333;
  width: 100% !important;
  height: auto !important;
}

/* 
   HEADER */
.t6-header {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto auto;
  align-items: start;
  column-gap: 30px;

  margin-bottom: 25px;
  border-bottom: 2px solid #ccc;
  padding-bottom: 20px;
}

.t6-name {
  font-size: 38px;
  letter-spacing: 1px;
  font-weight: bold;
  grid-column: 1;
  grid-row: 1;
}

.t6-role {
  font-size: 18px;
  margin-top: 4px;
  color: #444;
  grid-column: 1;
  grid-row: 2;
}

.t6-contact-row {
  grid-column: 2;
  grid-row: 1 / span 2;

  text-align: right;
  font-size: 13px;
  color: #555;

  display: flex;
  flex-direction: column;
  gap: 6px;
}

/* CONTENT AREA (2 COLUMNS) */
.t6-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 45px;
  margin-top: 35px;
  align-items: flex-start;
}

/* LEFT COLUMN */
.t6-sidebar {
  padding-right: 25px;
  border-right: 2px solid #dcdcdc;
}

/* RIGHT COLUMN */
.t6-main {
  padding-left: 25px;
}

/* TITLES */
.t6-title,
.t6-side-title,
.t6-section-title {
  font-size: 16px;
  font-weight: bold;
  color: #333;
  margin: 20px 0 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

/* SUMMARY */
.t6-about {
  font-size: 14px;
  color: #444;
  line-height: 1.6;
  margin-bottom: 18px;
}

/* BLOCKS */
.t6-edu-item,
.t6-exp-item {
  margin-bottom: 20px;
}

/* Label */
.t6-edu-inst,
.t6-exp-company {
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 2px;
}

.t6-exp-pos {
  font-size: 14px;
  font-style: italic;
  margin-bottom: 4px;
}

.t6-edu-degree,
.t6-edu-year,
.t6-exp-loc {
  font-size: 13px;
  color: #666;
  margin-bottom: 3px;
}

.t6-exp-desc {
  font-size: 14px;
  color: #444;
  line-height: 1.5;
  padding-left: 8px;
  border-left: 2px solid #eee;
}

/* LISTs */
.t6-list,
.t6-skill-list {
  margin-left: 18px;
}

.t6-list li,
.t6-skill-list li {
  margin-bottom: 6px;
  font-size: 14px;
  color: #444;
}

/* 
   CONSISTENT BLOCK SPACIng */
.t6-section-title+div {
  margin-bottom: 15px;
}

.stars {
  font-size: 18px;
  margin-left: 5px;
  letter-spacing: 2px;
}

.t6-left {
  background: #fafafa;
  padding: 30px 25px 30px 0;
  border-right: 1px solid #dcdcdc;
}

.t6-right {
  width: 68%;
  padding: 30px 0 30px 25px;
  color: black;
}

/* FIX COLUMN LAYOUT */
.t6-columns {
  display: grid;
  grid-template-columns: 32% 68%;
  align-items: start;
  /* this is the key */
  align-items: start;
  margin-top: 20px;
}

#resume-to-print * {
  line-height: inherit !important;
}